.select {
  height: 50px;
}

.p-50 {
  padding: 50px;
}

.imagenExc {
  width: ".7vw";
  padding-left: 0.3vw;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-20 {
  padding-bottom: 20px;
}

.fontCreditCardTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.fontCreditCardSubtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.paddingInterSlide {
  padding-left: 10px;
  padding-right: 10px;
}

.buttonEdit {
  display: flexbox;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  bottom: -20px;
  z-index: 1;
  cursor: pointer;
}

.padding4addCard {
  margin-top: 8%;
}

.imgSize {
  width: 40px;
  height: fit-content;
  padding: 0px;
  color: transparent;
}

.buttonEditAgregar {
  display: flexbox;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  bottom: -20px;
  z-index: -1;
}

.imgSizeAgregar {
  width: fit-content;
  height: fit-content;
  padding: 0px;
  opacity: 0;
  cursor: none !important;
}

.imgLeft {
  padding-right: 4% !important;
  width: fit-content;
  height: fit-content;
}

.imgLeftCvv {
  padding-left: 3% !important;
  width: 15%;
  height: 15%;
  margin: 0 0 4% 4%;
}

.cardCredit {
  min-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.centerLogoCreditCard2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.centerLogoCreditCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.imgSizeLogo {
  width: 70%;
}

.fontSizeAddCard {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #6e6e6e;
}

.fontTitleSpectrum {
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 40px;
}

.fontTitleMisTarjetas {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
}

.buttonWhite {
  border: 2px solid #000fbe;
  border-radius: 6px;
  color: #000fbe;
  background: #ffffff;
  font-style: normal;
  font-weight: 600;
  width: 100%;
}

.buttonWhite:hover {
  background: #ffffff;
  color: #000fbe;
}

.buttonWhite:active {
  background: #ffffff !important;
  color: #000fbe !important;
}

.buttonBlueContinue {
  background: linear-gradient(
    180deg,
    #000fbe 0%,
    #3d3de0 50%,
    #000fbe 57.81%,
    #000fbe 100%
  );
  border-radius: 6px;
  font-style: normal;
  font-weight: 600 !important;
}

.fontPrecioSaldo {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #000fbe;
}

.modalHeaderConfirmacion {
  border-bottom: 0px !important;
}

.alignCenterCenterColumn {
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}


.alignCenterCenterCntainer {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.linkFontEditar {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none !important;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000fbe;
}

.linkFontEditar:hover {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none !important;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000fbe;
}

.fontModalTitlePagar {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
}

.styleInputText {
  background: #ffffff;
  border: 1px solid #9d9d9d;
  border-radius: 4px;
  height: 48px;
  padding: 10px 16px;
  font-weight: 400;
  font-size: 18px;
}

.backgroundDomiciliaPago {
  background: linear-gradient(90deg, #000fbe 0%, #000a80 99.88%);
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.fontTitleDomicilia {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}

.white-color {
  color: #f2f2f2;
}

.fontSubtitleDomicilia {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 1024) {
  .fontTitleSpectrum {
    font-size: 28px;
  }

  .p-50 {
    padding-top: 20px;
  }

  .backgroundDomiciliaPago {
    margin-bottom: 50px;
  }

  .fontSizeAddCard {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768) {
  .fontTitleSpectrum {
    font-size: 28px;
  }

  .p-50 {
    padding-top: 20px;
  }

  .backgroundDomiciliaPago {
    margin-bottom: 50px;
  }

  .fontSizeAddCard {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 425) {
  .fontTitleSpectrum {
    font-size: 28px;
  }

  .p-50 {
    padding-top: 20px;
  }

  .backgroundDomiciliaPago {
    margin-bottom: 50px;
  }

  .fontSizeAddCard {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 375) {
  .fontTitleSpectrum {
    font-size: 28px;
  }

  .p-50 {
    padding-top: 20px;
  }

  .backgroundDomiciliaPago {
    margin-bottom: 50px;
  }

  .fontSizeAddCard {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 320) {
  .fontTitleSpectrum {
    font-size: 28px;
  }

  .p-50 {
    padding-top: 20px;
  }

  .backgroundDomiciliaPago {
    margin-bottom: 50px;
  }

  .fontSizeAddCard {
    font-size: 16px;
    line-height: 20px;
  }

  .alignCenterCenterColumn {
    max-width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .alignCenterCenterCntainer {
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}
