.card {
  height: 100%;
  width: 294px;
}

.background_mistarjetas {
  width: 108%;
}

.arrow_paddings {
  padding-left: 1vw;
  padding-right: 1vw;
}

.select {
  height: 50px;
}

.p-50 {
  padding: 50px;
  padding-bottom: 10px;
}

.imagenExc {
  width: ".7vw";
  padding-left: 0.3vw;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-20 {
  padding-bottom: 20px;
}

.fontCreditCardTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.fontCreditCardSubtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.paddingInterSlide {
  padding-left: 10px;
  padding-right: 10px;
}

.buttonEdit {
  display: flexbox;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  bottom: -20px;
  z-index: 1;
  cursor: pointer;
}

.padding4addCard {
  margin-top: 8%;
}

.imgSize {
  width: 40px;
  height: fit-content;
  padding: 0px;
  color: transparent;
}

.buttonEditAgregar {
  display: flexbox;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  bottom: -20px;
  z-index: -1;
}

.imgSizeAgregar {
  width: fit-content;
  height: fit-content;
  padding: 0px;
  opacity: 0;
  cursor: none !important;
}

.imgLeft {
  padding-right: 4% !important;
  width: fit-content;
  height: fit-content;
}

.imgLeftCvv {
  padding-left: 3% !important;
  width: 15%;
  height: 15%;
  margin: 0 0 4% 4%;
}

.cardCredit {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  border-color: #ebe6e6;
}

.centerLogoCreditCard2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.centerLogoCreditCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.imgSizeLogo {
  width: 70%;
}

.fontSizeAddCard {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #6e6e6e;
}

.fontTitleSpectrum {
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 40px;
}

.fontTitleMisTarjetas {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
}

.buttonWhite {
  border: 2px solid #000fbe;
  border-radius: 6px;
  color: #000fbe;
  background: #ffffff;
  font-style: normal;
  font-weight: 600;
  width: 100%;
}

.buttonWhite:hover {
  background: #ffffff;
  color: #000fbe;
}

.buttonWhite:active {
  background: #ffffff !important;
  color: #000fbe !important;
}

.buttonBlueContinue {
  background: linear-gradient(
    180deg,
    #000fbe 0%,
    #3d3de0 50%,
    #000fbe 57.81%,
    #000fbe 100%
  );
  border-radius: 6px;
  font-style: normal;
  font-weight: 600 !important;
  width: 100%;
}

.fontPrecioSaldo {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #000fbe;
}

.modalHeaderConfirmacion {
  border-bottom: 0px !important;
}

.alignCenterCenterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.linkFontEditar {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none !important;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000fbe;
}

.linkFontEditar:hover {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none !important;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000fbe;
}

.fontModalTitlePagar {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
}

.styleInputText {
  background: #ffffff;
  border: 1px solid #9d9d9d;
  border-radius: 4px;
  height: 48px;
  padding: 10px 16px;
  font-weight: 400;
  font-size: 18px;
}

.backgroundDomiciliaPago {
  background: linear-gradient(90deg, #000fbe 0%, #000a80 99.88%);
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.fontTitleDomicilia {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}

.white-color {
  color: #f2f2f2;
}

.fontSubtitleDomicilia {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 1024px) {
  .imgLeftCvv {
    padding-left: 3% !important;
    width: 9%;
    height: 15%;
    margin: 0 0 1% 1%;
  }

  .cardCredit {
    width: 350px;
    margin-left: -13vw;
    margin-right: 1vw;
  }
}

@media screen and (max-width: 768px) {
  .imgLeftCvv {
    padding-left: 3% !important;
    width: 9%;
    height: 15%;
    margin: 0 0 1% 1%;
  }

  .cardCredit {
    width: 350px;
    margin-left: -13vw;
    margin-right: 1vw;
  }
}

@media screen and (max-width: 576px) {
  .fontTitleSpectrum {
    font-size: 28px;
    margin-top: -20px;
  }

  .p-50 {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .backgroundDomiciliaPago {
    margin-bottom: 50px;
  }

  .fontSizeAddCard {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 425px) {
  .card {
    margin-left: -3.5vw;
    width: 350px;
  }

  .cardCredit {
    width: 350px;
    margin-left: -35vw;
    margin-right: 1vw;
  }

  .centerLogoCreditCard2 {
    width: 350px;
    padding-left: 12px;
  }

  .buttonBlueContinue {
    width: 280px;
  }

  .buttonWhite {
    width: 280px;
  }
}

@media screen and (max-width: 375px) {
  .card {
    margin-left: -4vw;
    width: 310px;
  }

  .cardCredit {
    width: 310px;
    margin-left: -35vw;
    margin-right: 1vw;
  }

  .centerLogoCreditCard2 {
    width: 310px;
    padding-left: 8px;
  }

  .buttonBlueContinue {
    width: 240px;
  }

  .buttonWhite {
    width: 240px;
  }
}

@media screen and (max-width: 360px) {
  .card {
    margin-left: -5vw;
  }

  .cardCredit {
    margin-left: 10px;
    margin-right: -9px;
  }

  .centerLogoCreditCard2 {
    width: 312px;
    padding-left: 0px;
  }

  .contenedor {
    margin-right: -5vw;
  }

  .buttonBlueContinue {
    width: 240px;
  }

  .buttonWhite {
    width: 240px;
  }
}

@media screen and (max-width: 320px) {
  .card {
    margin-left: 1vw;
    width: 253px;
  }

  .cardCredit {
    width: 253px;
    margin-left: -35vw;
    margin-right: 1vw;
  }

  .centerLogoCreditCard2 {
    width: 253px;
    padding-left: 1px;
  }

  .colTarjeta {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .buttonBlueContinue {
    width: 200px;
  }

  .buttonWhite {
    width: 200px;
  }
}
