 /* Pagination links */
 .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: #000FBE;
    color: white;
    border-radius: 20px;
    
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 20px;
    cursor: pointer;
} 

.flecha:hover{
    background-color: #ddd;
    border-radius: 20px;
    cursor: pointer;
}


