.spectrum {
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 40px;
  
    /* Spectrum */
  
    background: linear-gradient(90deg,
        #ff9e00 0%,
        #ff0000 33.93%,
        #b5007d 58.36%,
        #21429c 82.54%,
        #0071ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}