.contenedor{
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.descripcion{
    font-size: 90%;
    color: #6E6E6E;
    text-align: center;
}

.boton{
    padding :2em auto;
    background-image: linear-gradient(-1deg,transparent 49%,
    rgba(255,255,255,0.25)50%,
    rgba(255,255,255,0));
    background: linear-gradient(180deg, #000FBE 0%, #3D3DE0 50%, #000FBE 57.81%, #000FBE 100%);
    color:rgb(255,255,255);
	width: 30%;
    margin: auto;
}

.botonCancelar{
    padding :2em auto;
    background-color: rgb(255,255,255);
    color:rgb(0,15,245);
	width: 30%;
    margin: auto;
    border: 0px;
}

.botonCancelar:hover{
    background-color: transparent;
    color:rgb(0,15,245);
}

.titulo{
    font-size: 26px;
    color: #6E6E6E;

}

.posicionAlerta{
    margin-top: -17vw;
}

/**************************
Inicia seccion responsiva
***************************/

@media screen and (max-width: 1600px) {

    .posicionAlerta{
        margin-top: -18vw;
    }
}

@media screen and (max-width: 1440px) {

    .posicionAlerta{
        margin-top: -20vw;
    }
}

@media screen and (max-width: 1366px) {

    .posicionAlerta{
        margin-top: -22vw;
    }
}

@media screen and (max-width: 1024px) {

    .posicionAlerta{
        margin-top: -28vw;
    }
}

@media screen and (max-width: 480px) {

    .posicionAlerta{
        margin-top: -70vw;
        line-height: 16px;
    }
}

@media screen and (max-width: 425px) {

    .posicionAlerta{
        margin-top: -78vw;
        line-height: 16px;
    }
}

@media screen and (max-width: 375px) {

    .posicionAlerta{
        margin-top: -82vw;
        line-height: 16px;
    }
}

@media screen and (max-width: 360px) {

    .posicionAlerta{
        margin-top: -90vw;
        line-height: 16px;
    }
}


@media screen and (max-width: 320px) {

    .posicionAlerta{
        margin-top: -95vw;
        line-height: 16px;
    }
}